/kafka-controller/.vs
/kafka-controller/KafkaConsumer/bin
/kafka-controller/KafkaConsumer/obj
/kafka-controller/KafkaProducer/bin
/kafka-controller/KafkaProducer/obj
/kafka-controller/WebApplication1/bin
/kafka-controller/WebApplication1/obj
